body {
    font-family: 'Josefin Sans', sans-serif;
    min-height: 100vh;
    min-width: 320px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0;
    padding: 0;



}

* {
    box-sizing: border-box;
}

header {
    background-color: #91a67d;
    font-size: 10px;
}



.nav-list {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    list-style: none;
  }

.nav-link {
    padding: 0 20px;
    line-height: 50px;
    text-decoration: none;
    color: #ffffff;   /*поменять */
    font-size: 20px; /*поменять*/
    transition: color 0.5s;
}

.section-item a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    transition: color 0.5s;
}
.section-item a:hover {
    color: black;
}


html {
    scroll-behavior: smooth;
}

.container {
    max-width: 1440px;
    margin: 0 auto;
}






footer {
    background-color: #91a67d;
}
